@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1d5db;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
}
